<?xml version="1.0"?>
<launch>
        <param name="use_sim_time" value="false" />

        <arg name="bag_file0" default="~/Datasets/euroc/MH_01_easy.bag" />
        <arg name="bag_file1" default="~/Datasets/euroc/MH_02_easy.bag" />
        <arg name="tw_voxblox_config_file" default="$(find prometheus_slam)/config/tsdf_server_euroc.yaml" />
        <arg name="tsdf_voxel_size" default="0.10" />
        <arg name="truncation_distance" default="0.30" />
        <arg name="recover_mode" default="false" />
        <arg name="evaluate" default="false" />
        <arg name="play_speed" default="1" />
        <arg name="skip_seconds" default="0" />
        <arg name="delay_seconds" default="0" />
        <arg name="id" default="2" />

        <include file="$(find prometheus_slam)/launch/euroc/vins_gpu_euroc.launch">
                <arg name="id" value="1" />
                <arg name="clock" value="true" />
                <arg name="play_speed" value="1.0" />
                <arg name="bag_file" value="$(arg bag_file1)" />
                <arg name="skip_seconds" value="0" />
                <arg name="delay_seconds" value="5" />
                <arg name="bag_ripped" default="false" />
        </include>

        <include file="$(find prometheus_slam)/launch/firefly/prometheus_slam_client.launch">
                <arg name="id" value="1" />
                <arg name="pointcloud_topic" value="/pointcloud_1" />
                <arg name="world_frame_suffix" value="odom" />
                <arg name="tw_voxblox_config_file" value="$(arg tw_voxblox_config_file)" />
                <arg name="tsdf_voxel_size" value="$(arg tsdf_voxel_size)" />
                <arg name="truncation_distance" value="$(arg truncation_distance)" />
                <arg name="debug_cg" value="true" />
                <arg name="recover_mode" value="$(arg recover_mode)" />
        </include>
</launch>
