<?xml version="1.0"?>
<launch>
        <arg name="id" default="0" />

        <arg name="world_frame_suffix" default="odom" />
        <arg name="debug_cg" default="true" />
        
        <arg name="sensor" default="firefly" />
        <arg name="tsdf_voxel_size" default="0.10" />
        <arg name="truncation_distance" default="0.30" />
        <arg name="recover_mode" default="false" />

        <group ns="prometheus_slam">
                <arg unless="$(arg debug_cg)" name="launch_prefix" value="" />
                <arg if="$(arg debug_cg)" name="launch_prefix" value="gnome-terminal -x" />

                <node name="prometheus_slam_client_$(arg id)" pkg="prometheus_slam" type="prometheus_slam_client_node" output="screen" launch-prefix="$(arg launch_prefix)" args="-alsologtostderr=1 -colorlogtostderr=1">
                        <remap from="~keyframe_pose" to="/firefly_$(arg id)/vins_estimator_$(arg id)/keyframe_pose" />
                        <remap from="/loop_closure_in" to="prometheus_slam_client_$(arg id)/loop_closure_in" />
                        <rosparam file="$(find prometheus_slam)/config/prometheus_slam_client.yaml" />
                        <param name="input_odom_frame" value="$(arg world_frame_suffix)_$(arg id)" />
                        <param name="input_base_link_frame" value="firefly_$(arg id)/base_link" />
                        <param name="output_odom_frame" value="$(arg world_frame_suffix)_$(arg id)" />
                        <param name="output_base_link_frame" value="firefly_$(arg id)/base_link" />
                        <param name="output_sensor_frame" value="sensor_prometheus_slam_$(arg id)" />
                        <param name="output_active_submap_frame" value="voxgraph_active_submap_$(arg id)" />
                        <param name="publish_traversable" value="true" />
                        <param name="client_id" value="$(arg id)" />
                        <param name="tsdf_voxel_size" value="$(arg tsdf_voxel_size)" />
                        <param name="truncation_distance" value="$(arg truncation_distance)" />
                        <param name="publish_mesh_with_trajectory" value="true" />

                        <param name="recover_mode" value="$(arg recover_mode)" />
                        <param if="$(arg recover_mode)" name="submap_topic" value="/prometheus_slam/tsdf_recover_node_$(arg id)/tsdf_map_out" />
                        <remap if="$(arg recover_mode)" from="~mesh_pointcloud" to="tsdf_recover_node_$(arg id)/mesh_pointcloud" />
                        <param unless="$(arg recover_mode)" name="submap_topic" value="/prometheus_slam/tsdf_client_$(arg id)/tsdf_map_out" />
                </node>
        </group>

</launch>
