<launch>
  <!-- Parameters -->
  <arg name="mav_name" />
  <arg name="id"    default = "0"/>
  <arg name="config_path" default = "$(find prometheus_slam)/config/vins/vins_sim_agent_$(arg id).yaml" />

  <arg name="start_initializer" default="true"/>
  <arg name="enable_gazebo_tf" default="true"/>
  <arg name="odom_topic" default="/$(arg mav_name)_$(arg id)/repub/odometry" unless="$(arg enable_gazebo_tf)" />
  <arg name="odom_topic" default="/$(arg mav_name)_$(arg id)/ground_truth/odometry" if="$(arg enable_gazebo_tf)"/>

  <group ns="$(arg mav_name)_$(arg id)">
    <!-- vins_fusion_gpu -->
    <node name="vins_estimator_gpu_$(arg id)" pkg="vins" type="vins_node" output="log">
      <param name="config_file" type="string" value="$(arg config_path)" />
      <param name="origin_frame_name" type="string" value="odom_$(arg id)" />
      <param name="camera_frame_name" type="string" value="cam_$(arg id)" />
      <param name="imu_frame_name" type="string" value="imu_$(arg id)" />
    </node>

    <!-- Pose Graph -->
    <node name="pose_graph_$(arg id)" pkg="loop_fusion" type="loop_fusion_node" output="screen" >
      <remap from="~loop_closure_out" to="/prometheus_slam/prometheus_slam_client_$(arg id)/loop_closure_in"/>
      <param name="config_file" type="string" value="$(arg config_path)" />
      <param name="visualization_shift_x" type="int" value="0" />
      <param name="visualization_shift_y" type="int" value="0" />
      <param name="skip_cnt" type="int" value="0" />
      <param name="skip_dis" type="double" value="0" />
      <param name="num_odom_connections" type="int" value="5"/>
      <param name="num_agents" value="-1"/>

      <remap from="pose_graph_$(arg id)/keyframe_pose" to="vins_estimator_gpu_$(arg id)/keyframe_pose" />
      <remap from="pose_graph_$(arg id)/keyframe_point" to="vins_estimator_gpu_$(arg id)/keyframe_point" />
    </node>

  </group>
</launch>
